[submodule "docs"]
	path = docs
	url = https://github.com/tkuaiic/tkuaiic-docs
	branch = master
[submodule "resources"]
	path = resources
	url = https://github.com/tkuaiic/tkuaiic-resources.git
	branch = master
[submodule "vendor"]
	path = vendor
	url = https://github.com/tkuaiic/tkuaiic-vendor.git
	branch = master
